@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* MIXINS */
/* EXTENDS */
.sub-medium-2, .sub-medium {
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  width: 25em;
  height: 25em;
}

/* MAPS */
body {
  background: linear-gradient(-45deg, #606160, #e7e7e7, #161616);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.banner {
  width: 100%;
  height: 400px;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes banner {
  0%, 20% {
    background-image: url(../assets/banner.jpg);
  }
  25%, 45% {
    background-image: url(../assets/banner-2.jpg);
  }
  50%, 70% {
    background-image: url(../assets/banner-3.jpg);
  }
  75%, 100% {
    background-image: url(../assets/banner-4.jpg);
  }
}
.capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.info {
  z-index: 1;
  width: 100%;
  max-width: 550px;
  text-align: center;
}

.info h1 {
  font-family: "Great Vibes", cursive;
  color: #fff;
  font-size: 70px;
  letter-spacing: 1px;
}

h2 {
  margin: 20px;
  color: #BE1B1B;
  border-bottom-left-radius: 2px;
  font-size: 30px;
  text-align: center;
}

h3 {
  color: #BE1B1B;
  font-size: 30px;
  text-align: center;
}

.info-index {
  margin: 20px;
  color: #030200;
  border-bottom-left-radius: 2px;
  font-size: 25px;
  text-align: center;
}

.styleButton {
  font-size: 30px;
  background: #3088e0;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: inline-block;
  border-radius: 20px;
}

.medium {
  display: flex;
  justify-content: space-evenly;
}

.sub-medium {
  background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-medium h3 {
  color: #BE1B1B;
  font-size: 30px;
  text-align: center;
}
.sub-medium h3 .text-1 {
  color: #d8730f;
}

.demostration-1 {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

.sub-medium-2 {
  background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-medium-2 .map-ubication {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

.list-contact {
  color: #d8730f;
  list-style-type: none;
}
.list-contact .r-social {
  color: #050a04;
  text-decoration: underline;
  text-shadow: #BE1B1B 2px 2px 5px;
}

.grid-container {
  border: auto solid black;
  margin: 5px;
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.grid-item {
  border: solid #000000;
  background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
  padding: 20px;
  text-align: center;
  object-fit: cover;
}

.demostration-2 {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

/* FOOTER */
.footer-container {
  color: #050a04;
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-45deg, #080808, #444444);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 15vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo {
  padding-left: 20px;
}

.nav-footer {
  width: 30%;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* @MEDIA QUERIES */
/* Mobile */
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }

  .demostration-1 {
    width: 120px;
    height: 120px;
    border-radius: 10%;
  }

  h2 {
    font-size: 15px;
  }

  .info-index {
    font-size: 12px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px;
  }

  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
  }

  .medium {
    flex-wrap: wrap;
  }

  .demo-logo {
    width: 20px;
  }
}
/* Tablet */
@media only screen and (min-width: 451px) and (max-width: 960px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  .info-index {
    font-size: 15px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 220px;
  }

  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
  }

  .medium {
    flex-wrap: wrap;
  }

  .demo-logo {
    width: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
