*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

@import'../scss/base/mixin';

@import'../scss/base/extends';

@import'../scss/base/maps';

@import '../scss/components/body';

@import '../scss/components/banner';

@import '../scss/components/main';

@import '../scss/components/grid';

@import '../scss/components/footer';

@import '../scss/components/mediaqueries';