*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

@import '../scss/base/variables';

body {
    $background: linear-gradient(-45deg, #606160, #e7e7e7, #161616);
    $background-size: 400% 400%;
    $animation: gradient 15s ease infinite;
    $height: 100vh; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* SECTIONS */

.div-container{
    display: flex;
    justify-content: space-around;
}

h1{

    font-style: italic;
    color: #0c0c0c;
    font-size: 80px;
    text-align: center;
    background: rgb(15,212,19);
    background: linear-gradient(90deg, rgba(15,212,19,0.9486169467787114) 0%, rgba(247,247,251,1) 49%, rgba(255,0,0,0.9514180672268907) 100%);
    display: flex;
    justify-content: center;
}

h2{
    margin: 20px;
    color: #BE1B1B;
    border-bottom-left-radius: 2px;
    font-size: 30px;
    text-align: center;
}

h3{
    color: #BE1B1B;
    font-size: 30px;
    text-align: center;
}

.info-index{
    margin: 20px;
    color: #030200;
    border-bottom-left-radius: 2px;
    font-size: 25px;
    text-align: center;
}

.medium{
    display: flex;
    justify-content: space-evenly
}

.sub-medium{
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    width:  25em;
    height: 25em;
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h3{
        color: #BE1B1B;
        font-size: 30px;
        text-align: center;
        .text-1{
            color: #d8730f;
           
        }
    }

}

.demostration-1{
    width: 150px;
    height: 150px;
    border-radius: 10%;

}

.sub-medium-2{
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    width:  25em;
    height: 25em;
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .map-ubication{
        width: 150px;
        height: 150px;
        border-radius: 10%;
    }
}


.grid-container{
    border: auto solid black;
    margin: 5px;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px
}

.grid-item{
    border: solid #000000;
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
    padding: 20px;
    text-align: center;
    object-fit: cover;
}

.demostration-2{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.list-contact{
    color: #d8730f;
    list-style-type: none;
    .r-social{
        color: #050a04;
        text-decoration: underline;
        text-shadow: #BE1B1B 2px 2px 5px;

    }
}

@import '../scss/components/footer';

/* @MEDIA QUERIES */

/* Mobile */

@media only screen and (max-width:450px){
    a{
        font-size: 5px;
    }

    h1{
        font-size: 40px;
        color: #000000;
        background-image: linear-gradient(90deg, green 33%, white 33%, white 66.66%, red 66.66%);
    }

    .demostration-1{
        width: 120px;
        height: 120px;
        border-radius: 10%;
    }

    h2{
        font-size: 15px;
    }

    .info-index{
        font-size: 12px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 220px;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    .medium{
        flex-wrap: wrap;
    }
}

/* Tablet */

@media only screen and (min-width:451px) and (max-width:960px){
    a{
        font-size: 8px;
    }

    h1{
        color: #000000;
        font-size: 45px;
        background-image: linear-gradient(90deg, green 33%, white 33%, white 66.66%, red 66.66%);
    }

    h2{
        font-size: 18px;
    }

    .info-index{
        font-size: 15px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 220px;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    .medium{
        flex-wrap: wrap;
    }

}

