/* FOOTER */

.footer-container{
    color: #050a04;
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(-45deg, #080808, #444444);
    height: 25vh;
}


.logo{
    padding-left: 20px;
}


.nav-footer{
width: 30%;
}

.social-media{
list-style: none;
display: flex;
justify-content: space-around;
}
