.grid-container{
    border: auto solid black;
    margin: 5px;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px
}

.grid-item{
    border: solid #000000;
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
    padding: 20px;
    text-align: center;
    object-fit: cover;
}

.demostration-2{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}