h2{
    margin: 20px;
    color: #BE1B1B;
    border-bottom-left-radius: 2px;
    font-size: 30px;
    text-align: center;
}

h3{
    color: #BE1B1B;
    @include medidas(30px, center);
}

.info-index{
    margin: 20px;
    color: #030200;
    border-bottom-left-radius: 2px;
    @include medidas(25px, center);
}

.styleButton{
    font-size: map-get($button, font-size);
    background: map-get($button, bg-button);
    display: map-get($button, display);
    color: map-get($button, color);
    text-decoration: map-get($button, text-decoration);
    padding: map-get($button, display);
    border-radius: map-get($button, border-radious);
}

.medium{
    display: flex;
    justify-content: space-evenly
}

.sub-medium{
    @extend %flex;
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h3{
        color: #BE1B1B;
        @include medidas(30px, center);
        .text-1{
            color: #d8730f;
           
        }
    }

}

.demostration-1{
    width: 150px;
    height: 150px;
    border-radius: 10%;

}

.sub-medium-2{
    @extend %flex;
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16.67%, #f9ffff 33.33%, #eaedee 50%, #d8c9c3 66.67%, #c5ab9c 83.33%, #b2927a 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .map-ubication{
        width: 150px;
        height: 150px;
        border-radius: 10%;
    }
}


.list-contact{
    color: #d8730f;
    list-style-type: none;
    .r-social{
        color: #050a04;
        text-decoration: underline;
        text-shadow: #BE1B1B 2px 2px 5px;

    }
}